@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(jost);
  height: 100%;
}

html{
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
